.big-form {
  padding: 27px 20px 40px;
  border-radius: 10px;
  border: 1px solid #E3DDDD;
  background: #FFF;

  > p {
    margin-bottom: 25px;
    font-size: 13px;
  }

  &__star {
    margin-bottom: 22px;
    color: #91969A;
    font-size: 13px;
    line-height: normal;
  }

  &__main-list {
    margin-bottom: 40px;
  }

  &__item {
    display: flex;

    &.border-bottom {
      padding-bottom: 30px;
      border-bottom: 1px solid #E3DDDD;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

  }

  &__wrapper {
    width: 53%;
    margin-right: 18px;

    label {
      display: block;
      margin-bottom: 7px;
      font-size: 13px;
      line-height: normal;
    }

    input {
      width: 100%;
      height: 35px;
      padding-left: 10px;
      font-size: 13px;
      border-radius: 3px;
      border: 1px solid #E3DDDD;
      border-bottom-color: #868585;
      background: #FFF;

      &::placeholder {
        color: #91969A;
        font-size: 13px;
        line-height: normal;
      }
    }

    textarea {
      width: 100%;
      height: 105px;
      padding: 8px 10px;

      &::placeholder {
        color: #91969A;
        font-size: 13px;
        line-height: normal;
      }
    }
  }

  &__date-wrapper {
    position: relative;
    width: 205px;
    margin-right: 8px;

    svg {
      position: absolute;
      right: 13px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .custom-select {
    width: 254px;

    &._time {
      width: 205px;
    }
  }

  &__input-min {
    width: 254px;
  }

  &__description {
    width: 45%;
    margin-top: 23px;
    font-size: 11px;
    line-height: normal;

    a {
      color: $blue;
    }
  }

  &__btn-new-place {
    color: $blue;
    font-weight: 500;
    border-bottom: 1px dashed #E3DDDD;

    &::after {
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 0L5 6.24998L0 0H10Z' fill='%23064AB1'/%3e%3c/svg%3e ");
      display: inline-block;
      margin-left: 4px;
    }
    &._rotate {
      &::after {
        transform: rotateX(180deg);
      }
    }
  }

  &__new-place {
    margin-bottom: 30px;
    padding: 16px 16px 24px 24px;
    border-radius: 5px;
    border: 1px dashed #868585;
    background: #F0F2F3;
    position: relative;

    height: 0;
    display: none;

    &._active {
      height: max-content;
       display: block;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: 500;
      line-height: normal;
    }

    .custom-select {
      width: 100%;
    }
  }


  &__desc {
    max-width: 808px;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
  }

  &__buttons {
    display: flex;
    padding-top: 30px;
    border-top: 1px solid #E3DDDD;
  }

  &__btn-save {
    margin-right: 12px;
  }

  &__btn-next {
    margin-right: 12px;
    border-radius: 3px;
    border: 1px solid $blue;
    color: $blue;
    background: #FFF;
  }

  &__btn-cancel {
    margin-left: auto;
    border-radius: 3px;
    border: 1px solid #EF3B4C;
    background: #FFF;
    color: #EF3B4C;
  }

}