button {
    border: none;
    cursor: pointer;
    background: none;
    margin: 0;
    @include montserrat-semibold;
    font-size: 13px;
    line-height: 22px;
    padding: 0 15px;
    font-family: inherit;
}

.blue-btn {
    width: max-content;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #113770;
    color: #ffffff;

    &._disabled {
        background: #B6C8E3;
        pointer-events: none;
    }
}

.white-btn {
    color: $blue;
}

.modal-close-btn {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;

    @media (max-width: 730px) {
        top: 10px;

        svg path {
            fill: #000;
        }
    }
}

.big-form__item-save-button {
    display: flex;
    align-items: center;
    height: 35px;
    width: max-content;
    padding: 0 15px;
    border-radius: 3px;
    border: 1px solid #113770;

    text-align: center;

    color: #113770;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;

    &.add {
        margin: 10px 0 10px;
        border: none;
        padding: 0;

        svg {
            margin-right: 5px;
        }
    }
}

.big-form__item-delete-button {
    position: absolute;
    padding: 15px;
    top: 0;
    right: 0;
}

.big-form__buttons {
    button {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        padding: 0 18px;
    }
}

.big-form__next-button {
    margin: 0 17px;
    border-radius: 3px;
    border: 1px solid $blue;
    color: $blue;
    background: #FFF;
}

.big-form__cancel-button {
    margin-left: auto;
    border-radius: 3px;
    border: 1px solid #EF3B4C;
    color: #EF3B4C;
}