.navigation-row {
  min-height: 35px;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
  border-radius: 3px;

  &__item {
    &:not(:last-child) {
      border-right: 1px solid #E3DDDD;
    }

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    a {
      height: 100%;
      @extend %flex-between-center;

      padding: 0 11px;
      color: $dark;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      transition: all .3s;
    }

    &:hover {
      border-color: $blue;

      a {
        color: $blue;
      }
    }

    &._active {
      background-color: #113770;

      a {
        color: #fff;
      }
    }
  }
}