.pagination {
  margin-top: 25px;
  display: flex;
  border-radius: 5px;
  width: max-content;
  background-color: #FFF;

  &__item {
     &.pagination__item_active {
      a {
        outline: 1px solid #868585;
      }
    }

    &.pagination__item_block {
      a {
        pointer-events: none;
      }
    }

    a {
      display: inline-block;
      min-width: 33px;
      min-height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 500;
      border-radius: 5px;

      &:hover {
        outline: 1px solid #064AB1;
      }
    }
  }
}