.choices {
  height: 35px;

  &__inner {
    min-height: 35px;
    height: 35px;
    padding: 3px 10px 9px 14px;
    border: 1px solid #E3DDDD;
    border-bottom-color: #868585;
    border-radius: 3px;
    background: #FFF;
    color: #292F35;
    font-size: 13px;
  }
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  margin-top: 5px;
  border-color: #868585;
  border-radius: 3px;
  box-shadow: (0px 0px 10px rgba(0, 0, 0, 0.25));
}

.choices__list--single {
  padding: 1px 16px 4px 4px;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  font-size: 13px;
  color: #292F35;
  padding-top: 0;
  padding-bottom: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #EBEAEA;
}

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 10px;
  }
}

.custom-select._time {
  .choices[data-type*=select-one]::after {
    border: none;
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 0C2.69136 0 0 2.69136 0 6C0 9.30864 2.69136 12 6 12C9.30864 12 12 9.30864 12 6C12 2.69136 9.30864 0 6 0ZM6 11.1818C3.14273 11.1818 0.818182 8.85727 0.818182 6C0.818182 3.14273 3.14273 0.818182 6 0.818182C8.85727 0.818182 11.1818 3.14273 11.1818 6C11.1818 8.85727 8.85727 11.1818 6 11.1818Z' fill='black'/%3e%3cpath d='M8.29673 7.26818L6.409 5.8V2.81818C6.409 2.59227 6.22582 2.40909 5.99991 2.40909C5.774 2.40909 5.59082 2.59227 5.59082 2.81818V6C5.59082 6 5.59082 6.00363 5.59082 6.005C5.59082 6.01272 5.59127 6.02045 5.59218 6.02863C5.59218 6.03454 5.59309 6.04045 5.59355 6.04636C5.59446 6.05318 5.59537 6.05954 5.59673 6.06636C5.59764 6.07318 5.599 6.08 5.60037 6.08682C5.60173 6.09227 5.60309 6.09818 5.60446 6.10363C5.60627 6.11091 5.60809 6.11818 5.61037 6.12545C5.61218 6.13091 5.61446 6.13636 5.61627 6.14182C5.619 6.14863 5.62128 6.15591 5.624 6.16227C5.62673 6.16863 5.62991 6.17454 5.63309 6.18091C5.63582 6.18636 5.63855 6.19227 5.64127 6.19772C5.64491 6.20454 5.64946 6.21136 5.65355 6.21818C5.65627 6.22272 5.659 6.22682 5.66173 6.23136C5.66627 6.23818 5.67127 6.24409 5.67627 6.25091C5.67946 6.255 5.68264 6.25954 5.68582 6.26318C5.69037 6.26863 5.69537 6.27409 5.70037 6.27954C5.70446 6.28409 5.709 6.28863 5.71309 6.29318C5.71764 6.29772 5.72218 6.30182 5.72718 6.30591C5.73264 6.31091 5.73809 6.31591 5.744 6.32045C5.74537 6.32182 5.74673 6.32272 5.74809 6.32409L7.79355 7.915C7.86809 7.97318 7.95673 8.00136 8.04446 8.00136C8.16627 8.00136 8.28718 7.94727 8.36764 7.84363C8.50627 7.66545 8.474 7.40818 8.29582 7.26954L8.29673 7.26818Z' fill='black'/%3e%3c/svg%3e ");
    width: 14px;
    height: 21px;
    transform: translateY(-50%);
    margin-top: 0;
  }
}