 .user-enter-modal {
     h4 {
         @include montserrat-semibold;
         font-size: 23px;
         line-height: 28px;
         margin-bottom: 20px;
     }

     label {
         margin-bottom: 8px;

         @include montserrat-regular;
         font-size: 13px;
         line-height: 16px;
         position: relative;

         &::after {
             position: absolute;
             content: "*";
         }
     }

     input {
         margin-bottom: 20px;
         padding: 9px;
     }

     p {
         display: flex;
         flex-direction: column;
         position: relative;
     }

     .show-password {
         display: inline;
         position: absolute;
         right: 10px;
         top: 37px;

         cursor: pointer;
     }

     .modal-links {
         margin-bottom: 25px;
         display: flex;
         justify-content: space-between;
     }

     a {
         @include montserrat-semibold;
         font-size: 13px;
         line-height: 22px;
         color: $blue;
     }
 }