.create-event {
   .event {
    margin-bottom: 70px;
   h1 {
     font-size: 23px;
     font-weight: 600;
    margin-right: 10px;
   }
    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
    }

  }
}