.big-form {

  &__show-wrapper {
    >p {
      margin-bottom: 20px;

    }

    >.custom-checkbox {
      margin-bottom: 20px;
    }

    &._active {
      .big-form__list {
        display: block;
      }

      .big-form__btn-ticket-add {
        pointer-events: auto;

        padding: 10px;
        line-height: 0;

      }
    }
  }

  ul[data-list="changeable"] {
    >li {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__list {
    padding: 23px 22px;
    border-radius: 5px;
    border: 1px dashed #868585;
    background: #F0F2F3;
    display: none;

    h3 {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
    }

    h4 {
      padding-bottom: 5px;
      font-size: 13px;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__item {
    &.column {
      flex-direction: column;
    }

    >.custom-checkbox {
      &:not(:last-child) {
        margin-right: 22px;
      }
    }
  }

  &__description {
    >p {
      &:not(:last-child) {
        margin-bottom: 13px;
      }
    }
  }

  &__wrapper {
   // width: 45%;

    &.quantity {
      width: 150px;

      &+.big-form__description {
        margin-top: 32px;
      }
    }
  }

  &__car-title {
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    display: none;
  }

  &__entry-wrapper {
    gap: 40px;
    padding-top: 15px;
    display: none;

    &.pt0 {
      padding-top: 0;
    }
  }

  &__tickets-show {
    &._active {
      .big-form__car-title {
        display: block;
      }

      .big-form__entry-wrapper {
        display: flex;
      }
    }
  }

  &__entry-list {
    width: 48%;
  }

  &__entry-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    input[type="number"] {
      height: 35px;
      width: 50px;
      padding-left: 10px;
      font-size: 13px;
      border-radius: 3px;
      border: 1px solid #E3DDDD;
      border-bottom-color: #868585;
      background: #FFF;
    }

    input[type="radio"] {
      margin-right: 5px;
    }

    label {
      margin-right: 5px;
      font-size: 13px;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
    }
  }

  &__locations {
    width: 30%;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.tickets {

  .big-form {
    display: flex;
    flex-direction: column;

    &__buttons {
      
      margin-top: auto;
    }

    &__tickets-show {
      //border: 3px solid red;
      padding-top: 5px;
    }
  }

  .custom-checkbox input:checked + .add {
    border: 3px solid red;
  }

  .big-form__title-description {
    //border: 3px solid red;
    margin-bottom: 15px;
  }

  .big-form__list {
    padding: 16px 23px;

    .big-form__item {
      margin-bottom: 15px; 
    }
  }

  .big-form__list h3 {
    margin-bottom: 13px;
  }

  .big-form__wrapper {
    // border: 3px solid red;



    input {
      &::placeholder {
        color: #000;

        font-size: 14px;

        font-weight: 400;
        line-height: normal;
      }
    }

    .short-input {
      width: 150px;
    }
  }

  .big-form__description {
    font-size: 14px;

    font-weight: 400;
    line-height: normal;
  }

  // .big-form__item {
  //   margin-bottom: 15px;
  // }

  h4 {
    font-size: 14px;

    font-weight: 600;
    line-height: normal;
  }

  .big-form__locations {
    //border: 3px solid red;
    width: auto;
    margin-right: 45px;
  }

  .big-form__entry-item {
    margin: 0;
  }

  .big-form__entry-list label {
    font-size: 14px;

    font-weight: 400;
    line-height: normal;
  }

  .area-label {
    font-size: 14px;

    font-weight: 600;
    line-height: normal;
  }

  .area-description {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  .big-form__wrapper .area{
   
      .big-form__description {
        width: auto;
        border: 3px solid red;
      }
      
    
  }
}