.visitors-lists {
    .table-togglers-wrapper {
        display: flex;
        gap: 24px;

        .table-content-toggler {
            padding: 24px 0;
            margin: 0;
            color: #113770;
            font-size: 17px;
            text-decoration: underline dotted #113770;
            text-underline-offset: 4px;

            span {
                display: none
            }

            &._active {
                text-decoration: none;
                color: #000;
                pointer-events: none;

                span {
                    display: inline-block;
                }
            }
        }
    }

    .table-content {
        display: none;

        &._active {
            display: block;
        }

        .table-control {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 20px;

            .choices__inner {
                padding-left: 10px;
            }

            .search-form {
                input {
                    max-width: 460px;
                }

                .custom-select {
                    max-width: 195px;
                }
            }

            button {
                margin: 0;
            }
        }

        form {
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            .search {
                cursor: pointer;
                width: 100%;
                padding: 0 10px;

                &:hover {
                    border: 1px solid #113770;
                    border-radius: 5px;
                }
            }

            .user-search-button {
                margin: 0;
                font-size: 14px;
                color: #113770;
                border: 1px solid #113770;
                border-radius: 3px;
            }
        }

        table {
            font-size: 13px;
            border: 1px solid #C2CAC9;
            width: 100%;

            border-radius: 5px;
            border-spacing: 0;

            .custom-select {
                max-width: 105px;

                .choices__inner {
                    padding-left: 5px;
                }
            }

            thead,
            tfoot {
                background: #EDF2F6;
            }

            th {
                padding: 10px;
                text-align: left;
                font-weight: 500;
            }

            tr {
                padding: 10px;
            }

            td {
                max-width: 200px;
                padding: 10px;
                border-top: 1px solid #C2CAC9;
            }

            .pagination {
                margin-top: 0;
            }

            .table-footer {
                position: relative;
                height: 50px;

                .table-pagination {
                    display: flex;
                    gap: 2px;

                    li {
                        cursor: pointer;
                        text-align: center;
                        min-width: 26px;
                        max-height: 26px;
                        border: 1px solid transparent;
                        border-radius: 3px;

                        &:hover {
                            border: 1px solid #868585;
                        }
                    }

                    .table-pagination-item_active {
                        background: #FFFFFF;
                        border: 1px solid #868585;
                    }
                }

                button {
                    position: absolute;
                    max-height: 26px;
                    top: calc((100% - 26px) / 2);
                    right: 10px;
                    background: #FFFFFF;
                    border: 1px solid #E3DDDD;
                    border-radius: 3px;
                    padding: 6px 8px;
                    display: flex;
                    align-items: center;
                    font-weight: 400;

                    svg {
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}