<div class="modal user-modal user-enter-modal" id="authorization-modal">
  <button
    class="modal-close-btn"
    data-close-modal="authorization-modal"
    type="button"
  >
    <svg
      width="21"
      height="20"
      viewBox="0 0 21 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M11.2536 10.0003L19.7412 1.51268C20.0876 1.16628 20.0876 0.605597 19.7412 0.259196C19.3948 -0.0863988 18.8341 -0.0863988 18.4877 0.259196L10.0001 8.74682L1.51329 0.259196C1.16689 -0.0863988 0.606201 -0.0863988 0.2598 0.259196C-0.0857945 0.605597 -0.0857945 1.16628 0.2598 1.51268L8.74742 10.0003L0.2598 18.4871C-0.0866001 18.8335 -0.0866001 19.3942 0.2598 19.7406C0.433001 19.9138 0.659369 20 0.886544 20C1.11372 20 1.34009 19.9138 1.51329 19.7406L10.0009 11.253L18.4885 19.7406C18.6617 19.9138 18.8881 20 19.1153 20C19.3424 20 19.5688 19.9138 19.742 19.7406C20.0884 19.3942 20.0884 18.8335 19.742 18.4871L11.2544 9.9995L11.2536 10.0003Z"
        fill="white"
      />
    </svg>
  </button>
  <form
    action="#"
    class="home-registration__reg-form styled-form"
    data-template="homeStates"
  >
    <h4>Авторизация</h4>

    <div class="input-container custom-select">
      <label class="required" for="auth-account-type">Тип записи</label>
      <select
        class="home-registration__state-select"
        name="auth_account_type"
        id="auth-account-type"
      >
        <option value="1">Пользователь</option>
        <option value="2">Организатор</option>
        <option value="3">Группа</option>
      </select>
    </div>

    <div
      class="home-registration__content home-registration__state"
      data-state="1"
    >
      <p class="input-container">
        <label class="required" for="auth-user-email"
          >Логин учетной записи</label
        >
        <input
          id="auth-user-email"
          type="text"
          placeholder="example@example.com"
          name="auth_user_email"
          required
          autocomplete="off"
        />
      </p>
      <p class="input-container password">
        <label class="required" for="auth-user-password"
          >Пароль учетной записи</label
        >
        <input
          id="auth-user-password"
          type="password"
          placeholder="*************"
          name="auth_user_password"
          required
        />
        @include('./eye-button.html')
      </p>

      <div class="modal-links">
        <button
          class="white-btn reset-password-button"
          type="button"
          data-open-modal="user-reset-password-modal"
          data-close-modal="authorization-modal"
        >
          Не помню пароль
        </button>
        <button
          class="white-btn"
          type="button"
          data-open-modal="user-registration-modal"
          data-close-modal="authorization-modal"
        >
          Пройти регистрацию
        </button>
      </div>
    </div>
    <button class="blue-btn submit-enter" type="submit">Войти</button>
  </form>

  <form class="reset-password-form styled-form hidden" action="#">
    <p>
      Код отправлен в виде SMS. Повторить отправку через
      <span id="smsTimer">0:30</span>
    </p>
    <p class="input-container">
      <label for="enter-code">Проверочный код</label>
      <input
        id="enter-code"
        type="password"
        placeholder="******"
        name="enter_code"
        required
      />
    </p>
    <div class="modal-links">
      <button class="white-btn" type="button">Не приходит код</button>
    </div>
    <button class="blue-btn" type="submit">Подтвердить вход</button>
  </form>

  @include('./authorization-template.html')
</div>
