<footer class="footer">
  <div class="footer-container">
    <div class="container">
      <ul class="footer__links">
        <li>
          <a href="#">Правила и условия</a>
        </li>
        <li>
          <a href="#">Соглашение об обработке персональных данных</a>
        </li>
        <li>
          <a href="#">Раскрытие информации</a>
        </li>
      </ul>
      <div class="footer-bottom">
        <p>&copy; НПО ТАУ 2023</p>
        <p class="content-responsibility-mark">
          Авторы и владельцы Сайта не несут ответственности за контент,
          размещенный пользователями Сайта
        </p>
      </div>
      <div></div>
      <button data-open-modal="quick-registration-modal" type="button">
        Быстрая регистрация
      </button>
    </div>
  </div>
</footer>
