<footer class="footer">
	<div class="container">
		<div class="footer__top">
			<p>&copy; НПО ТАУ 2023</p>
		</div>
		<div class="footer__bottom">
			<p>Авторы и владельцы Сайта не несут ответственности за контент, размещенный пользователями Сайта</p>
			<ul class="footer__links">
				<li>
					<a href="#">Правила и условия</a>
				</li>
				<li>
					<a href="#">Соглашение об обработке персональных данных</a>
				</li>
				<li>
					<a href="#">Раскрытие информации</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
