.modal {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    left: 50%;
    top: 50%;
    width: 650px;
    transform: translate(-50%, -50%);
    transition: all .2s;
    opacity: 0;
    visibility: hidden;

    max-height: 90vh;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }

    &._active {
        opacity: 1;
        z-index: 999;
        visibility: visible;
    }


    .styled-form {
        width: 602px;
        padding: 44px 35px 35px 30px;
        border: 1px solid #93B5C5;
        border-radius: 5px;
        background-color: #fff;
        border: none;


        @media (max-width: 730px) {
            width: 90vw;
            padding: 30px 20px 20px 20px;
        }
    }

    .modal-links {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }

    a {
        @include montserrat-semibold;
        font-size: 13px;
        line-height: 22px;
        color: $blue;
    }


    .reset-password-form {
        position: relative;
        top: -30px;
        border-radius: 0 0 5px 5px;

        p:first-child {
            margin-bottom: 25px;
            font-size: 13px;
            line-height: 18px;
            position: relative;

            &::after {
                position: absolute;
                content: '';

                height: 1px;
                width: 100%;

                top: -25px;
                right: 0;

                background-color: #E3DDDD;
            }
        }
    }

    [type="submit"] {
        margin-top: 20px;
    }

    label {
        margin-bottom: 8px;
        @include montserrat-regular;
        font-size: 13px;

        &.required {
            position: relative;

            &::after {
                position: absolute;
                content: " *";
            }
        }
    }


    @media (max-width: 730px) {
        width: 90vw;
    }
}

.modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: -1;

    &._active {
        z-index: 998;
        visibility: visible;
    }
}

.user-modal {
    h4 {
        @include montserrat-semibold;
        font-size: 23px;
        line-height: 28px;
        position: relative;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 20px 0;

        button {
            top: 50%;
        }
    }



    input {
        width: 100%;
        padding: 9px;

        border: 1px solid #E3DDDD;
        border-bottom-color: #868585;
        border-radius: 3px;

        &::placeholder {
            font-size: 13px;
            line-height: 16px;
        }
    }

    .block-grouping {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .block-grouping-item {
            min-width: calc((100% - 10px) / 2);

            .big-form__date-wrapper {
                width: 100%;
            }
        }
    }



    .text {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 20px;
    }

    .checkbox-container {
        display: flex;
        align-items: flex-start;
        gap: 10px;

        .chechbox-label {
            line-height: 18px;
        }

        a {
            line-height: 0;
            color: $blue;
            font-weight: 400;
        }
    }
}