html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 340px;
  overflow-x: hidden;
  @include montserrat-regular;
  font-size: 15px;
  line-height: 25px;
  position: relative;
  background: #F3F5F6;
}

main {
  min-height: calc(100vh - 198px);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

svg {
  pointer-events: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

h1 {
  @include montserrat-semibold;
  font-size: 25px;
  line-height: 30px;
}


.hidden {
  display: none !important;
}


.sl-overlay {
  background-color: #000000;
}

.sl-wrapper .sl-close {
  color: #ffffff;
}

.sl-wrapper .sl-navigation button {
  color: #ffffff;
}

.dz-details,
.dz-progress,
.dz-error-message,
.dz-success-mark,
.dz-error-mark {
  display: none !important;
}

.dz-message {
  button {
    padding: 0;
  }
}

.dz-remove {
  line-height: 0;
  font-size: 0;
}

.dz-preview:not(.dz-preview.dz-processing) {
  display: none;
}


.air-datepicker-body--day-name {
  color: #817D8C;
  @include montserrat-medium;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
}

.swiper-button-disabled {
  cursor: auto !important;
  pointer-events: none !important;
  opacity: 0.55 !important;
}

.air-datepicker-cell.-day- {
  @include montserrat-medium;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.air-datepicker-global-container {
  z-index: 900;
}

.date-custom-container {
  z-index: 900;
  position: absolute;
  left: 0;
  top: 0;
}


.swiper-horizontal {
  overflow: hidden;
  position: relative;

  button {
    path {
      transition: all .3s;
    }
  }
}

.input_disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.site-container {
  position: relative;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
}

.main-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 30px 15px 0 40px;
  display: flex;
}

.content {
  width: 100%;
}

.modal {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  width: 602px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #93B5C5;
  border-radius: 5px;
  padding: 44px 52px 35px 36px;
  box-shadow: 0 8px 15px rgba(51, 115, 144, 0.3);
  transition: all .2s;
  opacity: 0;
  visibility: hidden;

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: -1;

  &._active {
    z-index: 998;
    visibility: visible;
  }
}

.trim-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blue-btn {
  width: max-content;
  height: 35px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: #064AB1;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}

.search-wrapper {
  position: relative;
  height: 35px;

  svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  input {
    width: 100%;
    height: 100%;
    padding-left: 28px;
    border-radius: 3px;
    border: 1px solid #E3DDDD;
    border-bottom-color: #868585;
    background: #FFF;
    color: #292F35;
    font-size: 13px;
  }
}

.df {
  display: flex;
  justify-content: space-between;

  &._fs {
    justify-content: flex-start;
  }
}

.air-datepicker-cell.-selected- {
  background: #EBEAEA;

  &:hover {
    background: #EBEAEA;
  }
}

.custom-checkbox {
  [type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 0;
    height: 0;
  }

  [type="checkbox"] + label {
    position: relative;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    cursor: pointer;
  }

  [type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    background: #FFF;
  }

  [type="checkbox"]:checked + label:after {
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.6445 1.40817C10.7104 1.34225 10.7764 1.27632 10.8423 1.2104C10.9741 1.01263 11.0401 0.748933 10.9741 0.485239C10.9082 0.221546 10.7105 0.0897012 10.4468 0.0237778C10.1171 -0.0421456 9.85344 0.0237738 9.58974 0.287467L7.01873 2.85848C6.09581 3.78141 5.17289 4.70434 4.18404 5.69319C4.18404 5.69319 4.11811 5.7591 4.11811 5.82503C4.11811 5.82503 4.05218 5.89096 4.05218 5.95688L3.92035 6.15464L2.00855 4.24287C1.81078 4.0451 1.54709 3.78141 1.34932 3.58364C1.21747 3.45179 1.01971 3.38587 0.821941 3.38587C0.558248 3.38587 0.360478 3.51772 0.162708 3.71549C-0.100986 4.04511 -0.0350544 4.44064 0.294562 4.77026C1.01972 5.49542 1.67894 6.15465 2.4041 6.8798L3.12926 7.60497C3.65665 8.13235 3.98627 8.13235 4.51365 7.60497L10.6445 1.40817Z' fill='black'/%3e%3c/svg%3e ");
    position: absolute;
    top: -1px;
    left: 2px;
    width: 11px;
    height: 15px;
  }

  [type="checkbox"]:disabled + label {
    opacity: .5;
    pointer-events: none;
  }
}